# Runs tests referencing the local GitHub Action to verify it works as intended.
---
name: Test

on:
  pull_request:
  push:
    branches-ignore:
      - "dependabot/**"
  workflow_dispatch:

jobs:
  test_linkcheck:
    runs-on: ubuntu-22.04
    name: Test linkchecker and summariser
    timeout-minutes: 5

    strategy:
      # Keep running even if one variation of the job fail
      fail-fast: false
      matrix:
        sphinx_version:
          - 6
          - 7
          - 8
          - latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: pip
          cache-dependency-path: tests/docs/requirements*.txt

      - name: Install dependencies
        run: |
          if [ ${{ matrix.sphinx_version }} = latest ]; then
            pip install -r tests/docs/requirements.txt
          else
            pip install Sphinx==${{ matrix.sphinx_version }}
          fi

      - name: Local action
        id: linkcheck
        uses: ./
        with:
          docs-dir: tests/docs
          build-dir: tests/docs/_build
          no-error: true

      - name: Verify outputs
        run: |
          EXIT=0
          if [[ "${{ steps.linkcheck.outputs.broken-links-count }}" != 1 ]]; then
              echo "Expected broken-links-count=1"
              EXIT=1
          fi
          if [[ "${{ steps.linkcheck.outputs.permanent-redirects-count }}" != 0 ]]; then
              echo "Expected permanent-redirects-count=0"
              EXIT=1
          fi
          exit $EXIT
